.slide ul {
  font-size: 48px;
}

.slide.sharting {
  background: #DCC5E5;
  font-family: 'Apple Chancery';
  font-size: 18px;
  line-height: 2;
}

.slide.snowflake {
  background: url(../../images/snowflake.png) no-repeat 150px 50px;
}